body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
  }
  
  
.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
.card:hover .card-inner {
    transform: rotateY(180deg);
  }

.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5rem;
  }
  
.card-front {
    background-color:#FCAEC6;
  }
  

.card-back {
    background-color: #FCAEC6;
    cursor: pointer;
    transform: rotateY(180deg);
  }