ol, ul{
    display: flex;
    list-style: none;
    padding: 0;
}
p{
    text-align: center;
}
.slider img{
    width:100vw;
    height: 80vh;
    object-fit: contain;
    border-radius: 0;
}
ul.slider{
    height:80vh;
    overflow-x:hidden;
    scroll-snap-type:x mandatory;
    scroll-behavior: smooth;
}
ol{
    justify-content: center;  
}

.slider a{
    text-decoration: none;
    font-size: 2rem;
    color:#89023e
}
.slider a:hover{
    background-color: #fcaec6;
}
.slider a:visited{
    color:#00655A;
}

.slider li{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    padding:0.25rem;
    height:100%;
}
.slider ul li{
    flex: 1 0 100%;
    scroll-snap-align: start;
}
.slider ol li{
    padding: 0.5rem;
}

footer{
    display:block;
    box-sizing: border-box;
    background-color: #fcaec6;
    padding: 0;
    color:#89023e;
}
.footer{
    list-style-type: none;
    display: flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    align-items: center;
    margin:0;
    width: 100%;
    
}
.footer li{
    padding: 0;
    margin: 0;
    flex: 1 1 350px;
}
.footer li img{
    width: 80%;
    object-fit: contain;
}
footer a, footer a:visited{
    color: #89023e;
}
